<%= render 'shared/admin_header', title: 'Admin Home' %>

<div id='content'>
  <p><%= link_to 'Manage Admins', admins_path %></p>
  <p><%= link_to 'Manage Boards', boards_path %></p>
  <p><%= link_to 'Manage Missions', missions_path %></p>
  <p><%= link_to 'Manage Teams', teams_path %></p>
  <p><%= link_to 'Manage Users', users_path %></p>
</div>
