<%= render 'shared/errors', container: @score %>

<%= form_for :score do |f| %>
  <%= f.hidden_field :board_id, value: @board.id %>
  <p>
    <%= f.label 'Team Name' %>
    <%= f.text_field :team %>
  </p>
  <p>
    <%= f.label 'Score (Integer)' %>
    <%= f.number_field :score %>
  </p>
  <p>
    <%= f.submit submit_msg %>
  </p>
<% end %>
