<%= render 'shared/admin_header', title: 'Boards' %>

<div id='content'>
  <p><%= link_to 'Create a New Board', new_board_path %></p>
  
  <table class='table'>
    <tr>
      <th>Title</th>
    </tr>
    <% @boards.each do |board| %>
      <tr>
        <td><%= link_to board.title, admin_board_path(board) %></td>
        <td><%= link_to 'Edit', edit_board_path(board) %></td>
        <td>
          <%= link_to 'Delete',
              board_path(board),
              method: :delete,
              data: { confirm: 'Delete this board?' } %>
        </td>
      </tr>
  <% end %>
</div>
