<h1><%= @board.title %></h1>

<p><%= @board.description %></p>

<table>
  <tr>
    <td>Rank</td>
    <td>Team</td>
    <td>Score</td>
  </tr>
  <% @board.scores_by_rank.each do |score| %>
    <tr>
      <td><%= score.rank %></td>
      <td><%= score.team.name %></td>
      <td>
        <%= link_to score.score,
            edit_score_path(board_id: @board, id: score) %>
      </td>
    </tr>
  <% end %>
</table>

<%= link_to 'Submit a Score', new_score_path %>
<%= link_to 'Delete this Board',
    board_path(@board),
    method: :delete,
    data: { confirm: 'Delete this Board?' } %>
<%= link_to 'Return to Boards Index', boards_path %>
