<%= render 'shared/user_header', title: @board.title %>

<div id='ucontent'>
  <div id='small_logo'><%= image_tag @curr_user.team.image_url %></div>
  <div id='board_description'><%= @board.description %></div>
  
  <table class='score_board'>
    <caption>Scores</caption>
    <tr>
      <th>Rank</th>
      <th>Team</th>
      <th>Score</th>
    </tr>
    <% @board.scores_by_rank.each do |score| %>
      <tr <%= "id=team_score" if score.team == @curr_user.team %>>
        <td><%= score.rank %></td>
        <td><%= score.team.name %></td>
        <td><%= score.score %></td>
      </tr>
    <% end %>
  </table>

  <div id='foot_links'>  
    <p><%= link_to 'Return', home_team_path %></p>
  </div>
</div>
